<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMPageGuide.ViewControllerSix#SegmentValueChanged</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>center</string>
					<key>tag</key>
					<real>3002</real>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>vcSix_2</string>
				<key>xPercent</key>
				<real>0.2</real>
				<key>yPercent</key>
				<real>0.5</real>
				<key>wPercent</key>
				<real>0.75</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.6</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>AMPageGuide.ViewControllerSix#DidAppear</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>center</string>
					<key>tag</key>
					<real>3001</real>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>vcSix_1</string>
				<key>xPercent</key>
				<real>0.2</real>
				<key>yPercent</key>
				<real>0.5</real>
				<key>wPercent</key>
				<real>0.75</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.6</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>AMPageGuide.ViewControllerFive#DidAppear</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>center</string>
					<key>tag</key>
					<real>3001</real>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>vcFive_1</string>
				<key>xPercent</key>
				<real>0.2</real>
				<key>yPercent</key>
				<real>0.5</real>
				<key>wPercent</key>
				<real>0.75</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.6</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>left</string>
					<key>tag</key>
					<real>3002</real>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>vcFive_2</string>
				<key>xPercent</key>
				<real>0.2</real>
				<key>yPercent</key>
				<real>0.6</real>
				<key>wPercent</key>
				<real>0.75</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.6</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>right</string>
					<key>tag</key>
					<real>3003</real>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>vcFive_3</string>
				<key>xPercent</key>
				<real>0.2</real>
				<key>yPercent</key>
				<real>0.6</real>
				<key>wPercent</key>
				<real>0.75</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.6</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>AMPageGuide.ViewControllerFour#DidAppear</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>center</string>
					<key>tag</key>
					<real>3001</real>
				</dict>
				<dict>
					<key>aligment</key>
					<string>left</string>
					<key>tag</key>
					<real>3002</real>
				</dict>
				<dict>
					<key>aligment</key>
					<string>right</string>
					<key>tag</key>
					<real>3003</real>
				</dict>
			</array>
			<key>titleImages</key>
			<dict/>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.6</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>AMPageGuide.ViewControllerThree#DidAppear</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>center</string>
					<key>tag</key>
					<real>3001</real>
				</dict>
				<dict>
					<key>aligment</key>
					<string>left</string>
					<key>tag</key>
					<real>3002</real>
				</dict>
				<dict>
					<key>aligment</key>
					<string>right</string>
					<key>tag</key>
					<real>3003</real>
				</dict>
			</array>
			<key>titleImages</key>
			<dict/>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.6</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>AMPageGuide.ViewControllerTwo#DidAppear</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>center</string>
					<key>tag</key>
					<real>3001</real>
				</dict>
				<dict>
					<key>aligment</key>
					<string>left</string>
					<key>tag</key>
					<real>3002</real>
				</dict>
				<dict>
					<key>aligment</key>
					<string>right</string>
					<key>tag</key>
					<real>3003</real>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>vcTwo_1</string>
				<key>xPercent</key>
				<real>0.13</real>
				<key>yPercent</key>
				<real>0.5</real>
				<key>wPercent</key>
				<real>0.75</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.6</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>AMPageGuide.ViewControllerOne#DidAppear</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>center</string>
					<key>tag</key>
					<integer>3001</integer>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>vcOne_1</string>
				<key>xPercent</key>
				<real>0.13</real>
				<key>yPercent</key>
				<real>0.3</real>
				<key>wPercent</key>
				<real>0.45</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.35</real>
				<key>yPercent</key>
				<real>0.6</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
