<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SSA.IndicatorSetupViewController#DidAppear</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>center</string>
					<key>tag</key>
					<integer>1000</integer>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>guide_1_zb3</string>
				<key>xPercent</key>
				<real>0.13</real>
				<key>yPercent</key>
				<real>0.3</real>
				<key>wPercent</key>
				<real>0.74</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.35</real>
				<key>yPercent</key>
				<real>0.6</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>SSA.DetailViewController#Tech</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>center</string>
					<key>tag</key>
					<integer>3001</integer>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>guide_1_zb2</string>
				<key>xPercent</key>
				<real>0.15</real>
				<key>yPercent</key>
				<real>0.6</real>
				<key>wPercent</key>
				<real>0.8</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.55</real>
				<key>yPercent</key>
				<real>0.25</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>SSA.DetailViewController#DidAppear</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>center</string>
					<key>tag</key>
					<integer>1000</integer>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>guide_1_zb1</string>
				<key>xPercent</key>
				<real>0.15</real>
				<key>yPercent</key>
				<real>0.2</real>
				<key>wPercent</key>
				<real>0.8</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.55</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>SSA.GreatMasterViewController#DidAppear</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>left</string>
					<key>tag</key>
					<real>3001</real>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>guide_1_ds1</string>
				<key>xPercent</key>
				<real>0.15</real>
				<key>yPercent</key>
				<real>0.3</real>
				<key>wPercent</key>
				<real>0.7</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.55</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
	<key>SSA.GreatMasterViewController#ShowInfo</key>
	<array>
		<dict>
			<key>markViews</key>
			<array>
				<dict>
					<key>aligment</key>
					<string>left</string>
					<key>tag</key>
					<real>3001</real>
				</dict>
			</array>
			<key>titleImages</key>
			<dict>
				<key>image</key>
				<string>guide_1_ds2</string>
				<key>xPercent</key>
				<real>0.15</real>
				<key>yPercent</key>
				<real>0.3</real>
				<key>wPercent</key>
				<real>0.7</real>
			</dict>
			<key>buttonPos</key>
			<dict>
				<key>xPercent</key>
				<real>0.55</real>
				<key>yPercent</key>
				<real>0.8</real>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>35</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
